body{
    font-family:'Courier New', Courier, monospace;
    /* background-color: beige; */
    padding: 30px;
    margin: 0px;
}
.container{
    
    border: 1px solid blue;
    /* padding: 10px;s */
}
.layout{
    border:1px solid blue;
    padding: 20px;
    margin: 20px;
    
    /* width: 1200px; */
   
   align-items: normal;

   /* justify-content: space-between; */
}
.display{
    display:flex ;
    flex-wrap: wrap;

}
.card{
    margin: 5px;
    box-shadow: 7px 7px 6px gray ;
   
}